#idea-form {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px;
  padding: 25px 10px 10px 10px;
  text-align: right;
  transition: transform 250ms ease-in-out;
  z-index: 6;
  border-radius: 3px;
  background: white;
}

#idea-form_btn-close {
  position: absolute;
  left: 5px;
  top: -35px;
}

.idea-form_btn-open {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 70px;
  width: 70px;
  border-radius: 99px;
  position: absolute;
  bottom: 40px;
  right: 70px;
  z-index: 4;
  border: none;
  padding: 0;
  margin: 0;
  color: #542a4e;
  transition: transform 250ms ease-out;
}

.idea-form_btn-open svg {
  height: 58%;
}

.idea-form_btn-open:hover {
  background: #dedede;
  transform: rotate(360deg);
}

.idea-form_btn-open:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 930px) {
  #idea-form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    box-sizing: border-box;
    text-align: right;
  }

  #idea-form_btn-close {
    position: absolute;
    left: 5px;
    top: -35px;
  }
  .idea-form_btn-open {
    height: 60px;
    width: 60px;
    bottom: 5vh;
    right: 8vw;
  }
}

#idea-form h2 {
  text-align: left;
  font-weight: normal;
  margin: 0 0 25px 0;
}

#idea-form input,
#idea-form textarea {
  width: 100%;
  display: block;
  background: #d7d7d7;
  border: 0;
  border-radius: 3px;
  color: #141414;
  margin: 15px 0;
  padding: 8px;
  font-size: 20px;
  box-sizing: border-box;
  resize: none;
}

.idea-form_btn-submit {
  width: 50px;
  height: 50px;
  background: #255179;
  border-radius: 9999px;
  padding: 0;
  border: 0;
}

.idea-form_btn-submit:hover {
  background: #0e3b63;
}

.idea-form_btn-submit img {
  position: relative;
  left: -2px;
  top: 2px;
  width: 60%;
}

.idea-form_hide {
  transform: translateY(100%);
}
